# Session 1 : Assignment 1

## Problem Statement

### Task 1.1

* No valid __link__ is avilable

### Task 1.2

In [1]:
ex_list = []
for i in range(2000,3201):
    if ((i%7) == 0 and (i%5 != 0)):
        ex_list.append(str(i))
 
print(",".join(ex_list))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Task 1.3

In [2]:
def name_reverse():
    '''
    after run this function ask for 2 input string from std input and provide as reversed on std out
    '''
    first = input("enter your first name:")
    last = input("enter your last name:")
    name =  (str(first) + " " + str(last))
    return name[::-1]
name_reverse()

enter your first name:nilendra
enter your last name:kumar

'ramuk ardnelin'

In [3]:
def name_reverse():
    '''
    after run this function ask for 2 input string from std input and provide as reversed on std out
    '''
    first = input("enter your first name:")
    last = input("enter your last name:")
    name =  (str(first) + " " + str(last))
    return ("".join(reversed(name)))
name_reverse()

enter your first name:nilendra
enter your last name:kumar

'ramuk ardnelin'

### Task 1.4

In [4]:
import math
dia = 12
volume = (4/3) * math.pi * (dia/2) * (dia/2) * (dia/2)
volume

904.7786842338604

### Task 2.1

In [5]:
def comma_value_to_list():
    '''
    input: prompt for user input for numerical values separated by comma
    return: numbers as a list
    '''
    list2 = []
    string = str(input("please enter comma separated numbers:"))
    listing = (string.split(","))
    [list2.append(int(listing[i])) for i in range(len(listing))]
    return list2
comma_value_to_list()

please enter comma separated numbers:23,34,5,6,78

[23, 34, 5, 6, 78]

### Task 2.2

In [6]:
count = 0
for i in range(10):
    if i >= 5:
        count = count-1
    else:
        count = count+1
    for c in range(count):
        print("*",end='')
    print("\n")

*

**

***

****

*****

****

***

**

*

### Task 2.3

In [7]:
def reverse_inp():
    '''
    input : user input a word
    return: reversed word
    '''
    data = input("please input a word: ")
    return (data[::-1])
reverse_inp()

please input a word: India

'aidnI'

### Task 2.4

In [8]:
print("WE,THE PEOPLE OF INDIA \n \t having solemnly resolved to constitute India into a SOVEREIGN, ! \n\t\t SOCIALIST,SECULER DEMOCRATIC REPUBLIC \n\t\t\t and to secure all of its citizens")

WE,THE PEOPLE OF INDIA
 	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST,SECULER DEMOCRATIC REPUBLIC
			 and to secure all of its citizens